.container-alimento {


    margin: 20px 0;


}

h1 {

    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.container-alimento img{

    margin: 10px 0;

}

.introducao{

    margin-top: 2em;
    margin-bottom: 10em;   
    
}

nav img {

margin-left: 2em;

}